body{
    padding: 0px;
    margin: 0px;
}

.mainbox{
    /* height: 100vh; */
    padding-bottom: 19vh;
    width: 100%;
    background-color: rgb(250, 241, 228);
}

.navbar{
    height: 7vh;
    width: 100%;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7vw;
    
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    
}

.navbar>li,a{
    list-style: none;
    text-decoration: none;
    color: aliceblue;
}

.formbox{
    height: 70%;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form{
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  /* background-color: brown; */
  margin-top: 11%;
  width: 43%;
  padding: 1.7vh 0px;
  background: #d66c6c;
  border-radius: 18px;
}


.form>input,select{
    width: 24vw;
    /* width: 100%; */
    padding: 0.6rem 0rem;
    border-radius: 11px;
    text-align: start;
    
}

.form>input[type="submit"]{
    background: royalblue;
    border-radius: 11px;
    color: aliceblue;
    font-size: 18px;
    text-align: center;
}
.form>input::placeholder{
    padding-left: 1vw;
}

/* /////////////// status /////////////// */
.tablediv{
    /* background: #d4b9b9; */
    /* height: 100vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 11%;
    
}

table {
    border-collapse: collapse;
    width: 70%;
    margin-bottom: 24px;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  table th {
    background-color:rgb(151, 233, 254);
    font-weight: bold;
    text-transform: uppercase;
  }
  table tr:hover {
    background-color: rgb(225, 249, 255);
  }
  
  






@media(max-width:457px){
    .form>input,select{
        width: 62vw;
        padding: 0.6rem 0rem;
        border-radius: 11px;
        text-align: start;
        
    }
    
    .form>input[type="submit"]{
        text-align: center;
    }

    
}